@import "tailwindcss";

html,body{
    scroll-behavior: smooth;
}
/* hide scrollbar but keep scroll */
.scrollbar-hidden {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome/Safari/Webkit */
}

